html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./tako.png", type="image/x-icon")
    link(rel="stylesheet", href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css")
    link(rel="stylesheet", href="./style.css")
    title life-game.ts
  body
    h1 life-game.ts
    main
      div#board
      div
        button#start Start
        button#stop Stop
        button#reset Reset
      div
        select#template
          option(value="none") テンプレートを選択
          option(value="space-ship") 宇宙船
          option(value="glider") グライダー
          option(value="light-weight-space-ship") 軽量宇宙船
          option(value="middle-weight-space-ship") 中量宇宙船
          option(value="heavy-weight-space-ship") 重量宇宙船
          option(value="r-pentomino") Rペントミノ
          option(value="diehard") Diehard
          option(value="acorn") Acorn
        button#set-template Set
    script(type="module", src="./index.js")
