html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./tako.png", type="image/x-icon")
    link(rel="stylesheet", href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css")
    link(rel="stylesheet", href="./style.css")
    title life-game.ts
  body
    main.p-3
      h1 life-game.ts
      div#board
      div
        button#start Start
        button#stop Stop
        button#reset Reset
      div
        select#template
          option(value="none") テンプレートを選択
          option(value="space-ship") 宇宙船
          option(value="glider") グライダー
          option(value="glider-gun") グライダーガン
          option(value="straight-line") 直線
          option(value="queen-bee") 女王蜂
          option(value="galaxy") 銀河
          option(value="pulsar") パルサー
          option(value="penta-decathlon") ペンタデカスロン
        button#set-template Set
    script(type="module", src="./index.js")
